/* Geral */

html {
    font-family: 'Montserrat', sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
}
  
.painel {
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

/* Area dos Pontos */

.pontuacoes {
    display: flex;  
}
  
.pontuacao {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
  
.pontuacao h1 {
    font-weight: 300;
    font-size: 1.6rem;
}
  
.barra-vida {
    width: 80%;
    height: 20px;
    border: 1px solid #AAA;
}

.barra-vida .vida {
    display: flex;
    justify-content: cemter;
    height: 100%;
    background-color: green;
}

.barra-vida .vida.perigo {
    background-color: red;
}

/* Area do Resultado */

.resultado {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 600;
}
  
.resultado .ganhar {
    color: green;
}
  
.resultado .perder {
    color: red;
}

/* Area dos Botoes */

.botoes {
    display: flex;
    justify-content: center;
}
  
.botao {
    padding: 5px 10px;
    margin: 0px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1.1rem;
}
  
.novo-jogo {
    background-color: #4253af;
    color: #fff;
}
  
.ataque {
    background-color: #e51c23;
    color: #fff;
}
  
.ataque-especial {
    background-color: #ff9800;
    color: #000;
}
  
.curar {
    background-color: #259b24;
    color: #FFF;
}
  
.desistir {
    background-color: #BBB;
    color: #000;
}