<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Matador de Monstro</title>
    <link rel="stylesheet" href="./file001estilo.css">
    <script src="./vue.js"></script> 

</head>
<body>
    
    <div id="app">
        <div class="painel pontuacoes">
            <div class="pontuacao">
                <h1>Jogador</h1>
                <div class="barra-vida">
                    <div class="vida" :class="{perigo: vidaJogador < 20}" :style="{width: vidaJogador + '%'}"></div>
                </div>
                <div>{{vidaJogador}}%</div>
            </div>
            <div class="pontuacao">
                <h1>Monstro</h1>
                <div class="barra-vida">
                    <div class="vida" :class="{perigo: vidaMonstro < 20}" :style="{width: vidaMonstro + '%'}"></div>
                </div>
                <div>{{vidaMonstro}}%</div>
            </div>
        </div>
        <div v-if="haResultado" class="painel resultado" >
            <div v-if="vidaMonstro == 0" class="vencer">Você ganhou :) !</div>
            <div v-else class="perder">Você perdeu :( !</div>
        </div>
        <div class="painel botoes">
            <template v-if="executando">
                <button class="botao ataque">Ataque</button>
                <button class="botao ataque-especial">Ataque Especial</button>
                <button class="botao curar">Curar</button>
                <button class="botao desistir">Desistir</button>
            </template>            
            <button v-else class="botao novo-jogo">Iniciar Jogo</button>
        </div>
        <div class="painel logs"></div>
    </div>
    <script src="./file001.js"></script>
</body>
</html>